@{
    ViewBag.Title = "Confirm e-mail address";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for confirmation. @Html.ActionLink("Click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
