@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Our Cinema :)</h1>
    <p>Sign into your account or create a new one in order to browse movies.</p>
</div>
