@{
    ViewBag.Title = "Home Page";
}
<html>


<body>
    <div class="text-center">
        <h1 class="display-4">Movies List</h1>

    </div>
    <div class="row">
        <div class="col-md">
            <input type="button" value="Monday" class="btn-dark" />
        </div>
        <div class="col-md">
            <input type="button" value="Thuesday" class="btn-dark" />
        </div>
        <div class="col-md">
            <input type="button" value="Wednesday" class="btn-dark" />
        </div>
        <div class="col-md">
            <input type="button" value="Thursday" class="btn-dark" />
        </div>
        <div class="col-md">
            <input type="button" value="Friday" class="btn-dark" />
        </div>
        <div class="col-md">
            <input type="button" value="Saturday" class="btn-dark" />
        </div>
        <div class="col-md">
            <input type="button" value="Sunday" class="btn-dark" />
        </div>
    </div>
    <div class="text-center">
        <p><br> Movies played on the chosen day </p>
    </div>
    <ul class="list-group">
        @foreach (var movie in ViewBag.movies)
        {
            <li class="list-group-item">
                <img class="float-left" src="~/Content/photos/inception.jpg" style="height: 300px;" />
                <p>
                    <h1>&emsp; @movie.Title</h1>
                    <a>
                        &emsp;
                       @movie.Description
                    </a><br />
                </p>
                <div class="float-right">
                    <input type="button" value="Watch Trailer" class="btn-outline-dark"
                           onclick="window.location.href='@Url.Action("Trailer", "Home")';" />

                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-md">
                        <input type="button" value="12:00" class="btn-outline-dark"
                               onclick="window.location.href='@Url.Action("Tickets", "Home")';" />
                    </div>
                    <div class="col-md">
                        <input type="button" value="14:30" class="btn-outline-dark" disabled />
                    </div>
                    <div class="col-md">
                        <input type="button" value="18:00" class="btn-outline-dark" />
                    </div>
                    <div class="col-md">
                        <input type="button" value="21:30" class="btn-outline-dark" />
                    </div>
                </div>
            </li>
        }
    </ul>
</body>
</html>
