@{
    ViewData["Title"] = "Tickets Page";
}
<html>
<head>
    <script type="text/javascript">
        function on_create() {
            console.log(JSON.parse(localStorage.getItem("show")));
            localStorage.setItem("five_seater", "0");
            localStorage.setItem("two_seater", "0");
            localStorage.setItem("seven_seater", "0");

        }
        function change_tickets_amount(seats) {
            switch (seats) {
                case 5: {
                    localStorage.setItem("five_seater", document.getElementById("five_seater").value);
                    break;
                }
                case 2: {
                    localStorage.setItem("two_seater", document.getElementById("two_seater").value);
                    break;
                }
                case 7: {
                    localStorage.setItem("seven_seater", document.getElementById("seven_seater").value);
                    break;
                }
                default:
                    break;
            }
        }
        function saveChoices() {
            var tickets_amount = parseInt(localStorage.getItem("five_seater")) + parseInt(localStorage.getItem("two_seater")) + parseInt(localStorage.getItem("seven_seater"));
            const show = JSON.parse(localStorage.getItem("show"));
            if (show.reserved_spots + tickets_amount > show.capacity) window.alert("We are sorry, but there is not enough spots :(");
            else {
                show.reserved_spots += tickets_amount; // nie wiem czy to sie wgl cos tu dzieje ale w sumie to nie musi
                // tu trzeba zmienic capacity tego show w schedulu w bazie danych
                window.location.href = '@Url.Action("Reservation", "Home")';
            }
        }
    </script>
</head>
<body onload="on_create()">
    <h1 display-4>Choose tickets:</h1>

    <div class="col-md">
        <select id="five_seater" onchange="change_tickets_amount(5)">
            <option value="0"> 0 </option>
            <option value="1"> 1 </option>
            <option value="2"> 2 </option>
            <option value="3"> 3 </option>
            <option value="4"> 4 </option>
            <option value="5"> 5 </option>
            <option value="6"> 6 </option>
        </select>
        <a style="font-size:medium">5-seater car&emsp;&emsp;&emsp;&emsp;&emsp;PLN 20.00</a>
    </div>
    <br />
    <div class="col-md">
        <select id="two_seater" onchange="change_tickets_amount(2)">
            <option value="0"> 0 </option>
            <option value="1"> 1 </option>
            <option value="2"> 2 </option>
            <option value="3"> 3 </option>
            <option value="4"> 4 </option>
            <option value="5"> 5 </option>
            <option value="6"> 6 </option>
        </select>
        <a style="font-size:medium">2-seater car&emsp;&ensp;&ensp;&emsp;&emsp;&emsp;PLN 10.00</a>
    </div>
    <br />
    <div class="col-md">
        <select id="seven_seater" onchange="change_tickets_amount(7)">
            <option value="0"> 0 </option>
            <option value="1"> 1 </option>
            <option value="2"> 2 </option>
            <option value="3"> 3 </option>
            <option value="4"> 4 </option>
            <option value="5"> 5 </option>
            <option value="6"> 6 </option>
        </select>
        <a style="font-size:medium">7-seater car&emsp;&ensp;&emsp;&emsp;&emsp;&emsp;PLN 25.00</a>
    </div>
    <div class="float-right">
        <input type="button" value="Next" class="btn-dark" style="font-size:large; background-size:contain"
               onclick="saveChoices()" />
    </div>

</body>
</html>


