@{
    ViewData["Title"] = "Tickets Page";
}
@functions {

}
<html>
<head>
    <script type="text/javascript">
        function on_create() {
            console.log(JSON.parse(localStorage.getItem("show")));
        }
    </script>
</head>
<body onload="on_create()">
    <h1 display-4>Choose tickets:</h1>


    <div class="col-md">
        <select id="normal">
            <option value="0"> 0 </option>
            <option value="1"> 1 </option>
            <option value="2"> 2 </option>
            <option value="3"> 3 </option>
            <option value="4"> 4 </option>
            <option value="5"> 5 </option>
            <option value="6"> 6 </option>
        </select>
        <a style="font-size:medium">Normal&emsp;&emsp;&emsp;&emsp;&emsp;PLN 20.00</a>
    </div>
    <br />
    <div class="col-md">
        <select id="student">
            <option value="0"> 0 </option>
            <option value="1"> 1 </option>
            <option value="2"> 2 </option>
            <option value="3"> 3 </option>
            <option value="4"> 4 </option>
            <option value="5"> 5 </option>
            <option value="6"> 6 </option>
        </select>
        <a style="font-size:medium">Student&emsp;&ensp;&ensp;&emsp;&emsp;&emsp;PLN 10.00</a>
    </div>
    <br />
    <div class="col-md">
        <select id="child">
            <option value="0"> 0 </option>
            <option value="1"> 1 </option>
            <option value="2"> 2 </option>
            <option value="3"> 3 </option>
            <option value="4"> 4 </option>
            <option value="5"> 5 </option>
            <option value="6"> 6 </option>
        </select>
        <a style="font-size:medium">Child&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;PLN 15.00</a>
    </div>
    <br />
    <div class="col-md">
        <select id="senior">
            <option value="0"> 0 </option>
            <option value="1"> 1 </option>
            <option value="2"> 2 </option>
            <option value="3"> 3 </option>
            <option value="4"> 4 </option>
            <option value="5"> 5 </option>
            <option value="6"> 6 </option>
        </select>
        <a style="font-size:medium">Senior&emsp;&ensp;&emsp;&emsp;&emsp;&emsp;PLN 18.00</a>
    </div>
    <div class="float-right">
        <input type="button" value="Next" class="btn-dark" style="font-size:large; background-size:contain"
               onclick="saveChoices()" />
    </div>

</body>
</html>


