@{
    ViewData["Title"] = "Trailer Page";
}
@**@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <script type="text/javascript">
        function on_create() {
            document.getElementById("player").src = localStorage.getItem("link");
        }
    </script>
</head>
<body onload="on_create()">
    <br/>
    <video id="player" controls="controls" autoplay="autoplay" style="width:800px">
        <source src="about:blank" type="video/mp4" />
    </video>
   
    <div class="float-right">
        <input type="button" value="Back to movie list"  class="btn-dark" style="font-size:large; background-size:contain"
               onclick="window.location.href='@Url.Action("Index", "Home")' ;" />
    </div>
</body>
</html>

