@{
    ViewData["Title"] = "Trailer Page";
}
@*<video controls="controls" autoplay="autoplay" style="width:800px">
        <source src="" type="video/mp4" />
    </video>*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Embedded Video Example</title>
</head>
<body>
    <h1>Embedded Video Example</h1>
    <p>The following video provides an introduction to WebMatrix:</p>
    <iframe width="560"
            height="315"
            src="https://www.youtube.com/embed/XcSMdhfKga4"
            frameborder="0"
            allowfullscreen></iframe>
    <div class="float-right">
        <input type="button" value="Back to movie list" class="btn-outline-dark"
               onclick="window.location.href='@Url.Action("Index", "Home")' ;" />
    </div>
</body>
</html>

