@{
    ViewData["Title"] = "Trailer Page";
}
@model CCS.ViewModels.MovieListViewModel
@*<video controls="controls" autoplay="autoplay" style="width:800px">
        <source src="" type="video/mp4" />
    </video>*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <script type="text/javascript">
        function on_create() {
            document.getElementById("link_frame").src = localStorage.getItem("link");
        }
    </script>
</head>
<body onload="on_create()">
    <iframe id="link_frame"
            width="560"
            height="315"
            src="about:blank"
            frameborder="0"
            allowfullscreen></iframe>
    <div class="float-right">
        <input type="button" value="Back to movie list" class="btn-outline-dark"
               onclick="window.location.href='@Url.Action("Index", "Home")' ;" />
    </div>
</body>
</html>

