@{
    ViewData["Title"] = "Trailer Page";
}
<video controls="controls" autoplay="autoplay" style="width:800px">
    <source src="~/Content/trailers/InceptionTrailer.mp4" type="video/mp4" />
</video>

<div class="float-right">
    <input type="button" value="Back to movie list" class="btn-outline-dark"
           onclick="window.location.href='@Url.Action("Index", "Home")' ;" />
</div>